/* Coolors Exported Palette - coolors.co/b80c09-96bdc6-e5e7e6-81968f-cfb9a5 */

/* HSL */
$color1: hsla(1%, 91%, 38%, 1);
$color2: hsla(191%, 30%, 68%, 1);
$color3: hsla(150%, 4%, 90%, 1);
$color4: hsla(160%, 9%, 55%, 1);
$color5: hsla(29%, 30%, 73%, 1);

/* RGB */
$color1: rgba(184, 12, 9, 1);
$color2: rgba(150, 189, 198, 1);
$color3: rgba(229, 231, 230, 1);
$color4: rgba(129, 150, 143, 1);
$color5: rgba(207, 185, 165, 1);